<ion-header>
  <ion-navbar>
    <ion-title>
      Vehicle Control
    </ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>-->

<!--</ion-content>-->

  <ion-content padding="true">
    <p>Vehicle Last Location: 1435.7614,N,12101.0180,E</p>
    <div #map id="mymap"></div>

    <button ion-button block color="secondary" (click)="UnlockVehicle()">Unlock Vehicle</button>
    <button ion-button block color="danger" (click)="LockVehicle()">Lock Vehicle</button>

  </ion-content>