<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Device Status" tabIcon="cog"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Vehicle Control" tabIcon="car"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Location History" tabIcon="paper"></ion-tab>
</ion-tabs>
