<ion-header>
  <ion-navbar>
    <ion-title>
      Location History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <a ion-item detail-none href="https://goo.gl/maps/K1mYhtyDPdt">
      <h2>December 10, 2018, 1:00pm</h2>
      <h3>Latitude:14.357610 Longitude:121.010219</h3>
    </a>
    <a ion-item detail-none href="https://goo.gl/maps/K1mYhtyDPdt">
      <h2>December 10, 2018, 1:00pm</h2>
      <h3>Latitude:14.357610 Longitude:121.010219</h3>
    </a>

  </ion-list>

</ion-content>
