<ion-header>
  <ion-navbar>
    <ion-title>Device Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Device Status</h1>

  <p>
    <ion-icon name="alert"></ion-icon>
    Tracker Offline</p>

    <ion-list>
      <ion-item>
        <ion-label>GPS Services</ion-label>
        <ion-toggle [(ngModel)]="gps_service"></ion-toggle>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Motion Sensor</ion-label>
      <ion-toggle [(ngModel)]="motion_sensor"></ion-toggle>
    </ion-item>
  </ion-list>
  <button ion-button full>Notification Settings</button>
  <button ion-button full color="danger">Call Emergency Number</button>

</ion-content>
